.App {
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.close-icon{
  position: absolute;
  background-color: white;
  width: 8vh;
  height: 8vh;
  padding: 10px;
  border-radius: 4vh;
  right:0;
  margin-top: 1vh;
  margin-right: 1vh;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: scroll;
  white-space: nowrap;
  margin-top: 1vh;
}
.card {
  overflow: auto;
  padding-top: 10px;
  flex: 0 0 auto;
  background-color: transparent;
}

.thumbnail {
  border-radius: 5px;
  height: 10vh;
  width: 10vh;
}

.large-image {
  
  height: 81vh;
  width: 100vw;
  
}

.attach-pdf {
  background-color: yellow;
  height: 5vh;
  border-radius: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  color: black;
  text-align: center;
  width: 98vw;
  font-size: 2vh;
  font-weight: 900;
  position: absolute;
  bottom:0;
  margin-bottom: 1vw
}


.delete-image {
  width: 3vh;
  height: 3vh;
  padding: 5px;
  background-color: white;
  position: absolute;
  right: 0;
  margin-top: -1vh;
  border-radius: 1.5vh
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




