
.App {
  height: 100vh;
  background-color: #000;
  color: #fff;
}


.imageList{
  
  overflow-y: scroll;
  white-space: nowrap;
  
  
}

.scrolling-wrapper {
  display: flex;
 flex-wrap: nowrap;
 overflow-x: auto;


}
.card {
  flex: 0 0 auto;
  background-color: transparent
}

.image{
  border-radius: 5px;
  height: 10vh;
  width: 10vh;
}

.fullImage{
  padding: 10px;
  height: 83vh;
  width: 100vw;

}

.options{
  margin-top: 1.5vh;
  height: 5vh;
  display: flex;
 flex-wrap: nowrap;
 overflow-x: auto;

}

.input{
padding-top:-2px;
 margin-left: 2vw;
 border-radius: 15px;
 height: 3vh;
 width: 76vw;
 margin-right: 2vw;
 border-color: transparent
}

.camera{
  margin-left: 2vw;
  height: 3vh;
  width: 7vw;
  margin-top: 2px;
  font-size: 2vh;
  background-color:rgb(0, 128, 255);
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  
}
.attachPdf{
  margin-right: 2vw;
  height: 3vh;
  width: 7vw;
  margin-top: 2px;
  font-size: 2vh;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
background-color:rgb(225, 255, 0);
}
.glyphicons{
  width: 2vh;
  height: 2vh;
  padding-bottom: 2px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


