.App {
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.close{
  position: absolute;
  background-color: white;
  width: 8vh;
  height: 8vh;
  padding: 10px;
  border-radius: 4vh;
  right:0;
  margin-top: 1vh;
  margin-right: 1vh;
}

.imageList {
  overflow-y: scroll;
  white-space: nowrap;
  margin-top: 1vh;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.card {
  padding-top: 10px;
  flex: 0 0 auto;
  background-color: transparent;
}

.image {
  border-radius: 5px;
  height: 10vh;
  width: 10vh;
}

.fullImage {
  
  height: 81vh;
  width: 100vw;
  
}

.options {
  background-color: yellow;
  height: 5vh;
  border-radius: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  color: black;
  text-align: center;
  width: 98vw;
  font-size: 2vh;
  font-weight: 900;
  position: absolute;
  bottom:0;
  margin-bottom: 1vw
}

.input {
  padding-top: -2px;
  margin-left: 2vw;
  border-radius: 15px;
  height: 3vh;
  width: 76vw;
  margin-right: 2vw;
  border-color: transparent;
}

.camera {
  margin-left: 2vw;
  height: 3vh;
  width: 7vw;
  margin-top: 2px;
  font-size: 2vh;
  background-color: rgb(0, 128, 255);
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}
.attachPdf {
  margin-right: 2vw;
  height: 3vh;
  width: 7vw;
  margin-top: 2px;
  font-size: 2vh;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(225, 255, 0);
}
.glyphicons {
  width: 2vh;
  height: 2vh;
  padding-bottom: 2px;
}

.delete-image {
  width: 3vh;
  height: 3vh;
  padding: 5px;
  background-color: white;
  position: absolute;
  right: 0;
  margin-top: -1vh;
  border-radius: 1.5vh
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
